<footer class="site-footer footer">
    <div class="footer-wrapper">
        <div class="footer-linksContainer">
            @Html.ActionLink("Why be grateful", "Why", "Home", null, new { @class = "navLink" })
            @Html.ActionLink("About", "About", "Home", null, new { @class = "navLink" })
            @Html.ActionLink("FAQS", "faqs", "Home", null, new { @class = "navLink" })
            @Html.ActionLink("Reading", "Reading", "Home", null, new { @class = "navLink" })
            @Html.ActionLink("Buy us a coffee", "Donate", "Home", null, new { @class = "navLink" })
            @Html.ActionLink("Terms", "Terms", "Home", null, new { @class = "navLink" })
            @Html.ActionLink("Contact Us", "Contact", "Contact", null, new { @class = "navLink" })
        </div>
        <div class="footer-copyrite">
            &copy; @DateTime.Now.Year - Gratitude Village
        </div>
    </div>
</footer>
